$color-dark: #212121;
$color-black: #000;
$color-primary: #ea9b60;
$color-secondary: whitesmoke;

$font-dancingScript: "Dancing Script", cursive;
$font-josefin: "Josefin Sans", serif;
$font-nunito: "Nunito", serif;


@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin styleTitle($textTransform: uppercase) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $textTransform;
}

@mixin centering($top) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin heading($fontFamily, $fontSize, $fontWeight:300, $color, $bottomMargin) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    margin-bottom: $bottomMargin;
}

%fullspace {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-dark;
}